@{
  Layout = "_Layout";
}

@using HayleesThreads.Models;
@model List<HayleesThreads.Models.Category>;
<div style="width:50%" class="container card">
  <h2><strong>Admin Controls</strong></h2>
  <hr />
  <br />
  <h5><strong>Manage Categories</strong></h5>
  <br />
  @if (Model.Count == 0)
  {
    <br />
    <h4><span>No categories have been added to HayleesThreads :(</span></h4>
  }
  
  @foreach (Category category in Model)
  {
    <br />
    <div class="container card">
      <hr />
      <h5>@Html.ActionLink($"{category.CategoryName}", "Details", new { id = category.CategoryId })</h5>
      <hr />
    </div>
    <br />
  }
  <hr /><br />
  <p>@Html.ActionLink("Add new category", "Create")</p>
  <br />
</div>