@{
    Layout = "_Layout";
}
@using HayleesThreads.Models;
@model List<HayleesThreads.Models.Category>;

<div class="container card">
  <h4>@Html.ActionLink("Categories", "Index",  "Categories")</h4>
</div>