@{
    ViewData["Title"] = "Privacy Policy - ";
}
<h1>Privacy Policy</h1>
@{
  Layout = "_Layout";
}
<br />
<h5 style="color:rgb(133, 115, 96)">Thank you for checking out my shop! All of the current products are stock.</h5>
<h6 style="color:rgb(133, 115, 96)">The original products can be found on the following website: </h6></a>
<a style="color:rgb(133, 115, 96)" href="https://us.shein.com/"> <strong>https://us.shein.com/</strong> 