@{
    ViewData["Title"] = "Payment";
}
@{
  Layout = "_Layout";
}
<div class = "container card">
  <h1>Payment</h1>
  <hr />
  <p>Use this page for payments</p>
  <hr />
  <p><a class="nav-link" href= "/Order">Back to order form</a></h4></p>
</div>