.card  {
  padding: 1%;
  background-color: rgb(214, 178, 155);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 5in;
  height: auto;
}
nav.navbar {
  background-color: rgb(214, 178, 155);
  background-color: rgb(224, 191, 171);
  font-size: large;
  height: 95px;
}

body {
  text-align: center;
  background-color:  rgb(236, 208, 191);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
span {
  color: rgb(192, 53, 53);
}
h1, h2, h3, h4, h5, h6, p {
  color: white;
}
.nav-link {
  color: white;
  
}

.btn {
  background-color:rgb(221, 197, 183)
}

input#search_param {
  width: auto;
}

a {
  color: white;
}

a:hover, .btn:hover{
  color:   rgb(189, 158, 139);
}

HTML.Label {
  color: white;
}

.navbar-brand {
  border-style: outset;
  border-color: rgb(235, 209, 192);
  padding: 10px;
}

input::placeholder, input {
  text-align: center;
}

form#orderForm, div#orderForm {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 30px;
}

.container-form {
  float: center;
  margin-left: 3in;
  margin: 0 auto;
  }
  
  .form-horizontal {
    text-align: center;
    margin: 0 auto;
  }
  
  .form-control {
  width: 3in;
  margin: 0 auto; 
  width:250px;
  margin-left: 0px;
  }

  #payment {
    margin-left: 35px;
  }