.card  {
  padding: 1%;
  background-color: rgb(214, 178, 155);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 5in;
  height: auto;
}
nav.navbar {
  background-color: rgb(214, 178, 155);
  font-size: large;
  height: 95px;
}

body {
  text-align: center;
  background-color:  rgb(236, 208, 191);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
span {
  color: rgb(192, 53, 53);
}
h1, h3 {
  color: white;
}
.nav-link {
  color: white;
  
}

.btn {
  background-color:rgb(221, 197, 183)
}

input#search_param {
  width: auto;
}

a {
  color: white;
}

a:hover, .btn:hover{
  color:   rgb(214, 178, 155);
}

HTML.Label {
  color: white;
}

.navbar-brand {
  border-style: outset;
  border-color: rgb(235, 209, 192);
  padding: 10px;
}
