.card  {
  padding: 2%;
  background-color: rgba(224, 191, 171, 0.48);
  border-radius: 10px;
  width: 5in;
  height: auto;
  border-color: rgb(160, 141, 129);
}
nav.navbar {
  background-color: rgb(224, 191, 171);
  font-size: large;
  height: 95px;
}

body {
  text-align: center;
  background-color:  rgb(236, 208, 191);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

.drippy{
  background-image: url("https://i.pinimg.com/originals/93/59/55/93595567e917a0da7092b00d0888036c.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
}
span {
  color: rgb(177, 110, 110);
}
h1, h2, h3, h4, h5, h6, p {
  color: white;
}
.nav-link {
  color: white;
  
}

.btn {
  background-color:rgb(221, 197, 183)
}

input#search_param {
  width: auto;
}

a {
  color: white;
}

a:hover, .btn:hover{
  color:   rgb(189, 158, 139);
  text-decoration: none;
}

HTML.Label {
  color: white;
}

.navbar-brand {
  border-style: outset;
  border-color: rgb(235, 209, 192);
  padding: 10px;
}

input::placeholder, input {
  text-align: center;
}

form#orderForm, div#orderForm {
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 30px;
}

.container-form {
  float: center;
  margin-left: 3in;
  margin: 0 auto;
  }
  
.form-horizontal {
  text-align: center;
  margin: 0 auto;
}

.form-control {
/* width: 3in; */
margin: 0 auto; 
/* width:250px; */
}

#payment {
  margin-left: 35px;
}

span#productCard {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1),
  0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
}

nav.navbar2 {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
}


#productImage {
  border-radius: 8%;
  border-style: double;
  border-color: rgb(189, 158, 139);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#createProduct, #createOrder, span#editUsers {
  color: white;
}

footer {
  height: 120px;
}

div#manProCard {
  width: 320px;
}

div#manProDetails {
  width: 400px;
}

.moreThanThreeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  /* grid-template-columns: 1fr 1fr 3fr 1fr 1fr;  */
  gap: 40px;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  /* grid-template-columns: 1fr 1fr 3fr 1fr 1fr;  */
  gap: 40px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  /* grid-template-columns: 1fr 1fr 3fr 1fr 1fr;  */
  gap: 40px;
}