@{
    ViewData["Title"] = "Cart";
}
@{
  Layout = "_Layout";
}
<div class = "container card">
  <h1>Cart</h1>
  <hr />
  <p>Use this page for your shopping cart.</p>
  <hr />
  <p><a class="nav-link" href= "/Order"> Checkout</a></h4></p>
</div>