@{
  Layout = "_Layout";
}

@using HayleesThreads.Models
@model List<HayleesThreads.Models.Product>;
<div class="productCollection">
<h2 style="color: white"><i>HayleesThreads</i> Collection</h2>

<hr />
@if (Model.Count == 0)
{
  <h4><span>No products have been added to HayleesThreads :(</span></h4> 
}

@foreach (Product product in Model)
{
        <br />
        <div id="manProCard" class="container card">
          <span id = "productCard">
            <br /><hr />
            <img style="width: 80%;" id="productImage" type="image/jpg" src="@product.ProductImage" />
            <br /><br />
            <h4>@Html.Label("'" + product.ProductName + "'")</h4>
            <hr />
            <span>@Html.ActionLink("View", "Details", new { id = product.ProductId }, new {style="text-decoration:none;"})</span>
            <br /><br />
          </span>
        </div>
  
  @* <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div> *@
  <br />
}


</div>@* Product Admin Controls *@
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
{
  <br />
  <hr />
  <br />
  <div class="container card">
    <br />
    <h1><strong>Admin Controls</strong></h1>
    <hr />
    <br />
    <p>@Html.ActionLink("Upload new product", "Create")</p>
    <br />
  </div>
}