@{
  Layout = "_Layout";
}

<div style="width: 5in" class="container card">
    <span id="productCard">
        <br />
        @if (User.Identity.IsAuthenticated)
        {

            <h5 style="color:white">Are you sure you want to sign out, <strong>@User.Identity.Name</strong>?</h5>
            <br />
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <input type="submit" class="btn btn-outline-light" value="Log me out!" />
            }
            <br />
        }
        else
        {   <br />
            <h4 style="color:white">You have successfully signed out.</h4><br />
            <hr />
            <br />
            <h5>@Html.ActionLink("Log in", "Login")</h5><br />
            <h5>@Html.ActionLink("Register", "Register")</h5><br />
            <hr />
            <h5>@Html.ActionLink("Continue as Guest", "Index", "Home")</h5><br />
        }
    </span>
</div>